<ion-header no-border>
	<div class="login-header ion-padding">
		<img class="logo.img" src="assets/img/cprFoto.png">
	</div>
</ion-header>

<ion-content>
	<div class="center">
		<div heading-column-lr>
			<h1 big-heading>ŞİFRE</h1>
			<h2 small-heading>ŞİFREMİ UNUTTUM</h2>
		</div>
		<br>
		<ion-label >
			E-Posta Adresinize Şifre yenileme formu gönderilecektir.
		</ion-label>
		<ion-item transparent>
			<img icon-small src="assets/img/user.png"/>
			<ion-input [(ngModel)]="username" placeholder="E-MAIL ADRESI" type="text"></ion-input>
		</ion-item>
		<div linespace></div>
		<ion-button color="danger" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="forgotPassword()">
			GÖNDER
		</ion-button>
		<ion-label class="ion-text-center">
			Hesabınız yok mu?
			<span class="link-button" (click)="routeLogin()">
              KAYIT OL
          </span>
		</ion-label>
	</div>
</ion-content>
