<ion-header>
	<ion-toolbar>
	  <ion-title>Kayıt ol</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content padding>
	  <ion-list>
  
		  <ion-item>
			<ion-label position="floating">E posta </ion-label>
			<ion-input type="text" [(ngModel)]="username"></ion-input>
		  </ion-item>
		
		  <ion-item>
			<ion-label position="floating">Şifre</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		  </ion-item>

		  <ion-item>
			<ion-label position="floating">Şifre tekrar</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
		  </ion-item>
		
		</ion-list>
  
		<ion-button fill="solid" expand="block" color="danger" (click)="register()">KAYIT OL</ion-button>
  </ion-content>