<ion-header no-border>
	<div class="login-header ion-padding">
		<img class="logo.img" src="assets/img/cprFoto.png">
	</div>
</ion-header>

<ion-content>
	<div class="center">
		<div heading-column-lr>
			<h1 big-heading>KAYIT OL</h1>
			<h2 small-heading>KULLANICI KAYIT</h2>
		</div>
		<br>
		<ion-label >
		</ion-label>
		<ion-item transparent>
			<img icon-small src="assets/img/user.png"/>
			<ion-input [(ngModel)]="username" placeholder="   E-MAIL" type="text"></ion-input>
		</ion-item>
		<ion-item transparent>
			<img icon-small src="../../../assets/img/password.png"/>
			<ion-input [(ngModel)]="password" placeholder="   ŞİFRE" type="password"></ion-input>
		</ion-item>
		<ion-item transparent>
			<img icon-small src="../../../assets/img/key.png"/>
			<ion-input [(ngModel)]="confirmPassword" placeholder="  ŞİFRE DOĞRULA" type="password"></ion-input>
		</ion-item>
		<div linespace></div>
		<ion-button color="danger" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="LoginOTP">
			KAYIT OL
		</ion-button>
		<ion-label class="ion-text-center">
			Hesabınız var mı?
			<span class="link-button" (click)="routeLogin()">
                GİRİŞ YAP
          </span>
		</ion-label>
	</div>
</ion-content>
